<h1>Latest Sensor Readings:</h1>

<div>
    <h2 id="temperature">Temperature: {{temperature}} C</h1>
    <h2 id="humidity">Humidity: {{humidity}} %</h1>
    <h2 id="desiredTemp">Desired Temperature: {{desiredTemp}} C</h1>

</div>
